<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 通用查询映射结果 -->
<mapper namespace="com.zscat.mallplus.sms.mapper.SmsPhonenumMapper">
    <resultMap id="BaseResultMap" type="com.zscat.mallplus.sms.entity.SmsPhonenum">
        <id column="id" jdbcType="BIGINT" property="id"/>
										                <result column="phoneNum"  property="phonenum"/>
								                <result column="userId"  property="userid"/>
					    </resultMap>
	<!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
       `id`,`phoneNum`,`userId`
    </sql>
</mapper>
