<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 通用查询映射结果 -->
<mapper namespace="${package}.${module}.mapper.${Module}${className}Mapper">
    <resultMap id="BaseResultMap" type="${package}.${module}.entity.${Module}${className}">
        <id column="id" jdbcType="BIGINT" property="id"/>
		#foreach($column in $columns)
			#if($column.columnName != $pk.columnName || $pk.extra != 'auto_increment')
                <result column="$column.columnName"  property="$column.attrname"/>
			#end
		#end
    </resultMap>
	<!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
       #foreach($column in $columns)`$column.columnName`#if($velocityCount != $columns.size()),#end#end

    </sql>
</mapper>
